<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #3d0707;
        }

        .centered-title {
            text-align: center;
            padding: 20px;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="centered-title">
    <h3>You are not an admin</h3>
</body>
</html>