
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #d88282;
        }

        .centered-title {
            text-align: center;
            padding: 20px;
            background-color: #f2d4d4;
        }
    </style>
    
</head>
<body>
    <div class="centered-title">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {%endfor%}

    <h3>Login</h3>

    <form action="/Login" method="post">
    {% csrf_token %}

        <label for="">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your Username" required>
        <br>
        
        <label for="">Password</label>
        <input type="password" name="pass1" id="pass1" placeholder="Enter your password" required>
        <br>

        <button type="submit">Log In</button>
    </form>

</body>
</html>