
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #d88282;
        }

        .centered-title {
            text-align: center;
            padding: 20px;
            background-color: #f2d4d4;
        }
    </style>
</head>
<body>
    <div class="centered-title">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {%endfor%}


    <h3>Sign Up</h3>

    <form action="/signup" method="post">
    {% csrf_token %}
    {% csrf_token %}
    
        <label for="">username</label>
        <input type="text" name="username" id="username" placeholder="create a username (only letters and numbers)" required>
        <br>
        
        <label for="">firstname</label>
        <input type="text" name="fname" id="fname" placeholder="enter your first name" required>
        <br>

        <label for="">lastname</label>
        <input type="text" name="lname" id="lname" placeholder="enter your last name" required>
        <br>

        <label for="">emailadress</label>
        <input type="email" name="email" id="email" placeholder="enter your email" required>
        <br>

        <label for="">password</label>
        <input type="password" name="pass1" id="pass1" placeholder="enter your password" required>
        <br>

        <label for="">confirmPassword</label>
        <input type="password" name="pass2" id="pass2" placeholder="confirm your password" required>
        <br>

        <button type="submit">sign up</button>
    </form>

</body>
</html>