{% block content %}
<style>
  body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #d88282;
  }

  .centered-title {
      text-align: center;
      padding: 20px;
      background-color: #f2d4d4;
  }
  .data-block {
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    background-color: #f2d4d4;
  }
</style>
  <div class="centered-title">
  <h2>Form Data</h2>
  <form method="post" action="/super/">
    {% csrf_token %}
    <ul>
      {% for form_data in form_data_list %}
        <li>
        <div class="data-block">
          <strong>Name:</strong> {{ form_data.name }}<br>
          <strong>Age:</strong> {{ form_data.age }}<br>
          <strong>Healthy:</strong> {{ form_data.get_healthy_display }}<br>
          <strong>fever:</strong> {{ form_data.fever}}<br>
          <strong>Blood Pressure</strong> {{ form_data.Blood_Pressure}}<br>
          <strong>details</strong> {{ form_data.specify}}<br>
        </li>
      {% endfor %}
    </ul>
  </form>
{% endblock %}


